/bytebank-herdado/.bin
/bytebank-herdado/.settings
/bytebank-herdado/.classpath
/bytebank-herdado/.project
/bytebank-herdado-conta/.bin
/bytebank-herdado-conta/.settings
/bytebank-herdado-conta/.classpath
/bytebank-herdado-conta/.project
/bytebank-biblioteca/.bin
/bytebank-biblioteca/.settings
/bytebank-biblioteca/.classpath
/bytebank-biblioteca/.project